 /* media querys para responsive de bootstrap */ 

html {
  font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
  html {
  font-size: 1.2rem;
  }
  }
  
  @include media-breakpoint-up(md) {
  html {
  font-size: 1.4rem;
  }
  }
  
  @include media-breakpoint-up(lg) {
  html {
  font-size: 1.6rem;
  }
  }

 /* Fuente Avenir */ 

body {
  font-family: Avenir !important;
  src: url('/font/avenir/AvenirLTStd-Medium.otf');
}

 /* color verde bajo */ 
 .color {
  background-color: #00D4A8;
}

 /* color verde fuerte */ 
.color2 {
  background-color: #18AA8D;
}

 /* gradient para form */ 
.terminos {
  background: #4AC29A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


 /* color de boton */ 
.boton{
  background-color: #18AA8D !important;
  border-color:  #18AA8D !important;
  color: black !important;
}

 /* navbar */ 
.top-nav-collapse {
  background-color: #00D4A8 !important;
}


.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}


 /* caracteristicas de responsive 768 */ 
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #00D4A8 !important;
  }

  .navbar-nav {
    font-size: 35px;
    text-align:center;
  }
}

 /* caracteristicas de responsive 880 */ 
@media (max-width: 880px) {
  .navbar:not(.top-nav-collapse) {
    background: #00D4A8 !important;
  }
  .navbar-nav {
    font-size: 35px;
    text-align:center;
  }


}



#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
} 

 /* caracteristicas de responsive 450 
@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .navbar-nav {
    font-size: 30px;
    text-align:center;
  }

  h1 {
    margin-top: auto;
  }
} 

*/

 /* caracteristicas de responsive 384 
@media (max-width: 384px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
    }
  .navbar-nav {
    font-size: 20px;
    text-align:center;
  }
  .textlitle {
    font-size: 12px;
  }
  h1 {
    margin-top: auto;
  }
}

*/ 

 /* caracteristicas de responsive 360 
@media (max-width: 360px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
    }
  .navbar-nav {
    font-size: 20px;
    text-align:center;
  }
  .textlitle {
    font-size: 8px;
  }
  h1 {
    margin-top: auto;
    font-size: small;
  }
}

*/ 

 /* caracteristicas de responsive 320
@media (max-width: 320px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
    }
  .navbar-nav {
    font-size: 20px;
    text-align:center;
  }
  .textlitle {
    font-size: 4px;
  }
  h1 {
    margin-top: 50px;
    font-size: small;
  }
}

*/ 

 /* posicion vertical de carousel */ 
.vertical {
  height: 65vh;
  width: 37vh;
}

 /* laterales del caurusel */ 
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #18AA8D !important;
}

 /* subrrayar color verde */ 
u {
  text-decoration: underline;
  text-decoration-color: #00D4A8;
  border-bottom: 1px solid lightcyan;

}


 /* Accion del modal */ 
.modal-dialog-full-width {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width:none !important;

}

.modal-content-full-width  {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  background-color: #ececec !important 
}

.modal-header-full-width  {
  border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
  border-top: 1px solid #9ea2a2 !important;
}


h2 {
  color: black !important;
}