

 /* Fuente Avenir */ 

 @font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url('../font/avenir/AvenirLTStd-Book.eot'); /* IE9 Compat Modes */
  src: local('Avenir'),
       url('../font/avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/avenir/AvenirLTStd-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/avenir/AvenirLTStd-Book.woff') format('woff'), /* Modern Browsers */
       url('../font/avenir/AvenirLTStd-Book.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/avenir/AvenirLTStd-Book.svg#Avenir') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'AvenirRoman';
  font-style: normal;
  font-weight: 400;
  src: url('../font/avenir/AvenirLTStd-Roman.eot'); /* IE9 Compat Modes */
  src: local('AvenirRoman'),
       url('../font/avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/avenir/AvenirLTStd-Roman.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/avenir/AvenirLTStd-Roman.woff') format('woff'), /* Modern Browsers */
       url('../font/avenir/AvenirLTStd-Roman.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/avenir/AvenirLTStd-Roman.svg#AvenirRoman') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'AvenirMedium';
  font-style: normal;
  font-weight: 400;
  src: url('../font/avenir/AvenirLTStd-Medium.eot'); /* IE9 Compat Modes */
  src: local('AvenirMedium'),
       url('../font/avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/avenir/AvenirLTStd-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/avenir/AvenirLTStd-Medium.woff') format('woff'), /* Modern Browsers */
       url('../font/avenir/AvenirLTStd-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/avenir/AvenirLTStd-Medium.svg#AvenirMedium') format('svg'); /* Legacy iOS */
}
body {
  font-family: 'AvenirRoman';
}


 /* color verde bajo */ 
 .color {
  background-color: #00D4A8;
}

 /* color verde fuerte */ 
.color2 {
  background-color: #18AA8D;
}

 /* gradient para form */ 
.terminos {
  background: #4AC29A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


 /* color de boton */ 
.boton{
  background-color: #18AA8D !important;
  border-color:  #18AA8D !important;
  color: black !important;
}

 /* navbar */ 
.top-nav-collapse {
  background-color: #00D4A8 !important;
}


.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}


 /* caracteristicas de responsive 768 */ 
@media (max-width: 993px) {


  .navbar:not(.top-nav-collapse) {
    background: #00D4A8 !important;
  }

  .navbar-nav {
    font-size: 20px;
    text-align:center;
  }
}


html {
  scroll-behavior: smooth;
}


#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
} 


@media (max-width: 375px) {
  .tamanoimg {
    display:block;
    margin:auto;
    width: 230px;
  }

  .texth1 {
    font-size: 23px;
  }

  .textlitle {
    font-size: 13px;
  }
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .navbar-nav {
    font-size: 20px;
    text-align:center;
  }
  
} 


@media (max-width: 320px) {

  .tamanoimg {
    display:block;
    margin:auto;
    width: 145px;
  }

  .texth1 {
    font-size: 19px;
  }

  .textlitle {
    font-size: 12px;
  }
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .navbar-nav {
    font-size: 20px;
    text-align:center;
  }
} 



@media (max-width: 200px) {

  .tamanoimg {
    display:block;
    margin:auto;
    width: 145px;
  }

  .texth1 {
    font-size: 19px;
  }

  .textlitle {
    font-size: 12px;
  }
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .navbar-nav {
    font-size: 20px;
    text-align:center;
  }
} 


 /* posicion vertical de carousel */ 
.vertical {
  height: 65vh;
  width: 37vh;
}

 /* laterales del caurusel */ 
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #18AA8D !important;
}

 /* subrrayar color verde */ 
u {
  text-decoration: underline;
  text-decoration-color: #00D4A8;
  border-bottom: 1px solid lightcyan;

}

 /* Accion del modal */ 
.modal-dialog-full-width {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width:none !important;

}

.modal-content-full-width  {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  background-color: #ececec !important 
}

.modal-header-full-width  {
  border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
  border-top: 1px solid #9ea2a2 !important;
}


h2 {
  color: black !important;
}